.text-primary-color {
    color: white;
}

.video-style {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
}

.video-style iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}